name: tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test:
    name: test (${{ matrix.os }}, python ${{ matrix.python }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
#          - ubuntu-24.04-arm64

        python:
          - "3.10"
          - "3.11"
#          - "3.12"
#          - "3.13"
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install test runner
        run: python -m pip install --upgrade pip tox
      - name: Run tests
        run: tox -e test
